# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/kc_lib_cpp.vcxproj.user
/kc_lib_cpp.vcxproj.filters
/kc_lib_cpp.vcxproj
/kc_lib_cpp.VC.VC.opendb
/kc_lib_cpp.VC.db
/kc_lib_cpp.sln
/.vs/kc_lib_cpp/v14/.suo
/.vs/kc_lib_cpp/v14
/.gitattributes
/Debug/kc_lib_cpp.tlog/lib.command.1.tlog
/Debug/kc_lib_cpp.tlog/Lib-link.write.1.tlog
/Debug/kc_lib_cpp.tlog/Lib-link.read.1.tlog
/Debug/kc_lib_cpp.tlog/kc_lib_cpp.lastbuildstate
/Debug/kc_lib_cpp.tlog/CL.write.1.tlog
/Debug/kc_lib_cpp.tlog/CL.read.1.tlog
/Debug/kc_lib_cpp.tlog/CL.command.1.tlog
/Debug/kc_lib_cpp.pdb
/Debug/kc_lib_cpp.log
/Debug/kc_lib_cpp.idb
